.ctrl-slider {
    height: 20px;
    width: 300px;
    position: relative;
    background: #777;
    margin: 30px 60px;
    border-radius: 2px;
}
.ctrl-marker {
    position: absolute;
    top: -15px; /* [marker_height/2] - [slider_height]/2 */
    left: -10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #555;
}
